
body {
    background-image: url(zeldagif.gif);
    background-size: cover;
    background-position: top;
}

.titulo {
    height: 45px;
}
    
h1 {
    color: rgb(232, 255, 198);
}

label {
    color: white;
}

#paragrafo {
    color: white
}

div {
    text-align: center;
    margin-top: 0px;    
    height: 200px;
    padding: 20px;
}

#tabela {
    align-content: center;
    margin-top: 70px;
}

input {
    background-color: rgb(186, 236, 109);
    margin-top: 4px;
    margin-bottom: 4px;
}

button {
    background-color: white;
    margin-top: 15px;
}

#validar {
    background-color: white;
}

#par {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    -webkit-text-stroke-width: 0.4px; /* largura da borda */
    -webkit-text-stroke-color: #000000; /* cor da borda */
}

select {
    margin-top: 3px;
    background-color: rgb(186, 236, 109);
    height: 18px;
    width: 170px;
}

p {

    color: rgb(7, 68, 7);
    margin-top: 10px;
}

table, th, td {
    background-color: rgb(186, 236, 109);
    padding: 2px;
    color: rgb(7, 68, 7);
    border: 1px solid rgb(1, 2, 1);
    margin: auto;
    max-height: 10px
  }

  #tabela {
    overflow: visible;
    /* background-color: red; */
    height: 50px;
  }

td {
    height: 15px;

}

#divisao {
    height: 40px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #34bc28d4;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#td-validar {
    align-items: center;
    justify-content: center;

    /* padding-bottom: 10px; */
}

#btn-validar {
    align-items: center;
    justify-content: center;
}